body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}

h1, p {
    background-color: #777;
    color: #ebebeb;
}

.container {
    margin: 0 auto;
    border: thin solid red;
    padding:  10px 40px 10px 40px;
    width: 900px;
}

.col-sm-8 {
    margin: 0 auto;
    border: thin solid red; 
}

.col-sm-4 {
    margin: 0 auto;
    border: thin solid red; 

}

.navS {
    border: thin solid purple; 
    color: #ebebeb;
}

.arts {
    border: thin solid purple; 
    background-color: #777;
    color: #ebebeb;
    margin:  10px 10px 10px 10px;
}

.sect {
    border: thin solid purple; 
    background-color: #777;
    color: #ebebeb;
    width: 495px;
}

.aSideHead {
    border: thin solid yellow; 
    background-color: #777;
    color: #ebebeb;

}

.aSideText {
    border: thin solid purple; 
    background-color: #777;
    color: #ebebeb;

}

.heads {
    border: thin solid red; 
    background-color: #ebebeb;
}

.foots {
    border: thin solid red; 
    background-color: #ebebeb;
}

