body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    border: thin solid red;
    padding:  10px 40px 10px 40px;
    width: 900px;
}

.col-sm-8 {
    margin: 0 auto;
    border: thin solid red; 
}

.col-sm-4 {
    margin: 0 auto;
    border: thin solid red; 
}

#arts {
    border: thin solid red; 
    background-color: #777;
}

#header {
        border: thin solid red; 
        background-color: #ebebeb;
}

#footer {
    border: thin solid red; 
    background-color: #ebebeb;
}

