body {
    background-color: #777;
    font-size: 18px;
    text-align: center;
    width: 960px;
    border: thin solid purple; 
}

header {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
    border: thin solid blue; 
}

nav {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
    border: thin solid red; 
}

article {
    background-color: #777;
    border: thin solid purple; 
}

#left {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 30px;
    width: 495px;
    float: left;
    border: thin solid purple; 
}

#right {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    width: 30%;
    border: thin solid yellow; 
}

aside {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
    border: thin solid red; 
}

article {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
    border: thin solid red; 
}

#hs {
    padding: 20px;
    margin-bottom: 10px;
    margin: 20px auto;
    width: 80%;
    border: thin solid yellow;  
}

#ps {
    padding: 20px;
    margin-bottom: 10px;
    margin: 20px auto;
    width: 80%;
    border: thin solid yellow; 
}

footer {
    background-color: #ebebeb;
    clear: both;
    padding: 20px;
    border: thin solid blue; 
}
